* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: yellow;
    background-color: black;
}

.main-container {
    background-color: red;
    width: 1085px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
}


#navBarDiv{
    background: red;
}

li{
    display: inline-block;
    margin-left: 200px;
    padding-top: 50px;
}

#connectfourLogo{
    margin-left: 270px;
    align-self: center;
}

nav{
    background-color: red;
    display: flex;
}

#nav-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#nav-profile {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav a{
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

nav ul{
    align-self: center;
}

h4{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#profilePicture{
    margin-left: 110px;
    height: 100%;
    width: 30%;
}

#play-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
}
#connectFourImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}
#onlineButton{
    width: 10%;
    font-family: 'Courier New', Courier, monospace;
}
#offlineButton{
    width: 10%;
    font-family: 'Courier New', Courier, monospace;
}
