#loginDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 50%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#loginButton{
    margin-left: 200px;
    width: 15%;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: black;
}

#signupDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;
}
#signupButton{
    margin-left:250px;
    width: 15%;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    text-decoration: underline overline dotted yellow;
    margin-left: 250px;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    margin-left: 535px;
    color: white;
    text-decoration: underline overline dotted red;
    font-family: 'Courier New', Courier, monospace;
}
img{
    margin-left: 500px;
    width: 25%;
    height: 25%
}
#forgetPasswordButton{
    font-family: 'Courier New', Courier, monospace;
}
