doctype html 
html(lang='en')
    head
        title Connect 4
        link(rel="stylesheet", type="text/css", href="./css/home-page-style.css")
    body
        include ../partials/header
        main
            div(class="main-container")
                br
                h2 Play Now!
                br
                div(id="play-buttons")
                    button(style="margin-right: 20px;", type="button", id="onlineButton", name="onlineButton", value="onlineButton")
                        |Online
                    button(style="margin-left: 20px;", type="button", id="offlineButton", name="offlineButton", value="offlineButton")
                        |Offline
                br
                br
                img(src="https://www.sparefoot.com/self-storage/blog/wp-content/uploads/2014/01/connect-41.jpg", alt="broken image", id="connectFourImage")
                br
                br
                h1 Instructions
                br
                br
                h3
                    ol  
                        li 1. A coinflip will decide who will start first
                        |
                        li 2. Players will alternate turn after playing a checker
                        |
                        li 3. On your turn, drop one of your checkers down any of the slots in the top of the grid
                        |
                        li 4. Players alternates until one player gets 4 checkers of his color in a row
        script(type='application/javascript', src="./js/script.js")